h1 {
    text-align: center;
    margin: 10px auto;
}
form {
    background-color: white;
    margin: 10px auto;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 500px;
}

form img {
    width: 300px;
    margin: 0 auto;
}

form input {
    margin: 0px auto;
    width: 200px;
    height: 25px;
    text-align: center;
}

form label {
    text-align: center;
}